/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

/*Setting Rems*/
html{
  font-size: 62.5%;
}

h1 {
  color: red;
  font-size: 1.8rem;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: system-ui;
  overflow: hidden;
}

.wrapper {
  margin-top: 2rem;
}

.nickname-container {
  text-align: center;
  margin-top: 0.6rem;
}
.form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.search {
  padding: 0.5em 0.6em;
  font-size: 1.1rem;
}

.btn {
  padding: 0.5em;
  font-size: 1.1rem;
  margin-left: 0.5em;
}

.link {
  font-size: 1.1em;
}
.link a {
  font-weight: bold;
  color: rgb(2, 2, 140);
  margin-left: 0.3em;
}


/*Nav*/
nav.header{
  width:100%;
  display:flex;
  justify-content:space-around;
}

img.logo{
width:30rem;
}