<!DOCTYPE HTML>
<!--
	Telephasic by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
   <title>Retro Juegos Rancheros</title>
   <link rel="icon" type="image/x-icon" href="favicon.ico?v=1.1">
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
   <meta name="theme-color" content="black">
   <link rel="stylesheet" href="assets/css/main.css" />
   <link rel="stylesheet" href="assets/css/header.css">
   <meta name="description" content="Welcome to Retro Juegos Rancheros, amig@! Where you can test your skills and abilities in trying to conquer the variety of  video games available to you with a click of your mouse, like Mindsweeper and Tic -Tac-Toe. 
		Play with a friend or challenge our 'RancheroBots' in a duel to the finish for the top spot on the Leaderboard!
		" />
   <!--Imported Font-->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300&display=swap"
      rel="stylesheet">
</head>

<body class="no-sidebar is-preload">
   <div id="page-wrapper">

      <!-- Header -->
      <div id="header-wrapper">
         <div id="header" class="container">

            <!-- Logo -->
            <div id="logo"><a href="/"><img src="images/logo.png"></a></div>

            <!-- Nav -->
            <nav id="nav">
               <ul>
                  <li><a href="minesweeper/index.html"><img class="game-logo" src="images/beetitle.png" alt=""></a></li>
                  <li class="break-right" ><a href="snake-game/index.html"><img class="game-logo snake-logo" src="snake-game/snake-logo-two.png" alt=""></a></li>
                  <li class="break-left"><a href="single-player-tic-tac-toe/index.html"><img class="game-logo" src="single-player-tic-tac-toe/tic-tac-toe-logo.png" alt=""></a></li>
                  <li><a href="rock-paper-scissors/index.html"><img class="game-logo rock-logo" src="images/rocktitle.png" alt=""></a></li>
               </ul>
            </nav>

         </div>
      </div>

      <!-- Main -->
      <div class="wrapper">
         <div class="container" id="main">

            <!-- Content -->
            <article id="content">
               <header>
                  <h1 class="welcome-message">Welcome <%= name %>!</h1>
                  <a href="#" class="image featured"><img src="images/banner.png" alt="" /></a>
                  <p>Welcome to Retro Juegos Rancheros, amig@! Where you can test your skills and abilities in trying to
                     conquer the variety of video games available to you with a click of your mouse, like Mindsweeper
                     and Tic -Tac-Toe.
                     Play with a friend or challenge our 'RancheroBots' in a duel to the finish!
                     Good luck and may The ‘Juegos’ be with you!</p>
               </header>
            </article>

            <div class="row features">
               <section class="col-6 col-12-narrower feature">
                  <div class="image-wrapper">
                     <a href="snake-game/index.html" class="image featured"><img src="images/snake.png" alt="" /></a>
                  </div>
                  <header>

                  </header>
                  <p>This is the classic version of the most popular mobile and computer game named “SNAKE”. The main
                     objective of this game is to feed an increasing length of a snake with food particles which are
                     found at random positions, picking up bonus mongooses that occur at regular intervals.
                  </p>
                  <ul class="actions">
                     <li><a href="snake-game/index.html" class="button">PLAY</a></li>
                  </ul>
               </section>
               <section class="col-6 col-12-narrower feature">
                  <div class="image-wrapper">
                     <a href="minesweeper/index.html" class="image featured"><img src="images/bee.png" alt="" /></a>
                  </div>
                  <header>

                  </header>
                  <p>Bee-sweeper is a single-player logic-based computer game played on a rectangular board whose object
                     is to locate a predetermined number of randomly-placed "bees" in the shortest possible time by
                     clicking on "safe" squares while avoiding the squares with bees. If the player clicks on a bee, the
                     game ends.
                  </p>
                  <ul class="actions">
                     <li><a href="minesweeper/index.html" class="button">PLAY</a></li>
                  </ul>
               </section>
               <section class="col-6 col-12-narrower feature">
                  <div class="image-wrapper">
                     <a href="rock-paper-scissors/index.html" class="image featured"><img src="images/rock.png"
                           alt="" /></a>
                  </div>
                  <header>

                  </header>
                  <p>Each object wins against one shape and loses to another. For instance, rock "crushes" scissors but
                     is "covered" by paper, paper "covers" rock but is "cut" by scissors, and scissors is "crushed" by
                     rock but "cuts" paper. The player who picks the stronger of the two objects is the winner.
                  </p>
                  <ul class="actions">
                     <li><a href="rock-paper-scissors/index.html" class="button">PLAY</a></li>
                  </ul>
               </section>
               <section class="col-6 col-12-narrower feature">
                  <div class="image-wrapper">
                     <a href="single-player-tic-tac-toe/index.html" class="image featured"><img src="images/tic.png"
                           alt="" /></a>
                  </div>
                  <header>

                  </header>
                  <p>Tic-Tac-Toe is traditionally played on a 3 × 3 grid. Players take turns placing a mark in one of
                     the cells of the grid. The goal of the game is for players to position their marks so that they
                     make a continuous line of three cells vertically, horizontally, or diagonally.
                  </p>
                  <ul class="actions">
                     <li><a href="single-player-tic-tac-toe/index.html" class="button">PLAY</a></li>
                  </ul>
               </section>
            </div>
         </div>
      </div>

      <!-- Footer -->
      <div id="footer-wrapper">
         <div id="copyright" class="container">
            <ul class="menu">
               <li>&copy; </li>
               <li><a target="_blank" href="https://github.com/adilth">Adil Tahiri</a></li>
               <li><a target="_blank" href="https://github.com/dionwdev">Dion Wilson</a></li>
               <li><a target="_blank" href="https://github.com/ferndiddy">Fernando De La Torre</a></li>
               <li><a target="_blank" href="https://github.com/bewimsical">Kathleen D Wims</a></li>
               <li><a target="_blank" href="https://github.com/Greek4Tech">Leonidas Gkimisis</a></li>
               <li><a target="_blank" href="https://github.com/Eagle747">Sigrid van der Walt</a></li>
            </ul>
         </div>
      </div>
   </div>

   <!-- Scripts -->
   <script src="assets/js/jquery.min.js"></script>
   <script src="assets/js/jquery.dropotron.min.js"></script>
   <script src="assets/js/browser.min.js"></script>
   <script src="assets/js/breakpoints.min.js"></script>
   <script src="assets/js/util.js"></script>
   <script src="assets/js/main.js"></script>
   <!--Ours-->
   <script type="text/javascript" src="/js/main.js"></script>

</body>

</html>