<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="icon" type="image/x-icon" href="favicon.ico?v=1.1">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
   <link rel="stylesheet" href="assets/css/main.css" />
   <link rel="stylesheet" href="assets/css/login.css">
   <title>login page</title>
</head>

<body>
   <div class="login">
      <!-- <div class="logo-image"></div>
      <h1>Welcome to <br> Retro Juegos Rancheros!</h1>
      <p>Please enter your name to continue.</p> -->
      <form action="/intro" method="POST">
         <!-- <label for="name">Name</label> -->
         <input class="name-input" type="text" name="name" id="name" placeholder="Name" required>
         <button class="submit-name" type="submit">Submit</button>
      </form>
   </div>
   


   <script src="assets/js/jquery.min.js"></script>
   <script src="assets/js/jquery.dropotron.min.js"></script>
   <script src="assets/js/browser.min.js"></script>
   <script src="assets/js/breakpoints.min.js"></script>
   <script src="assets/js/util.js"></script>
   <script src="assets/js/main.js"></script>
</body>

</html>