/* nav */
#header-wrapper{
  z-index: 2;
  background-color: black;
}
#logo img,
.game-logo img{
  height:100px;
}




body {
  /* background-color: #03989E;*/
  text-align: center;
  background-image: url("../assets/css/images/header.svg");
		background-image: url("../assets/css/images/overlay.png"), url("../assets/css/images/header.svg"), -moz-linear-gradient(75deg,   #032222 15%, #000000 55%);
		background-image: url("../assets/css/images/overlay.png"), url("../assets/css/images/header.svg"), -webkit-linear-gradient(75deg,   #032222 15%, #000000 55%);
		background-image: url("../assets/css/images/overlay.png"), url("../assets/css/images/header.svg"), -ms-linear-gradient(75deg,   #032222 15%, #000000 55%);
		background-image: url("../assets/css/images/overlay.png"), url("../assets/css/images/header.svg"), linear-gradient(75deg,  #032222 15%, #000000 55%);
		background-color: #000000;
		background-size: 100% 620%;
		background-size: 128px 128px, 100% 620%, auto;
		background-repeat: repeat, no-repeat, no-repeat;
    font-family: 'Titillium Web', sans-serif;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fdf28c;
  margin: auto;
}

.grid div {
  height: 38px;
  width: 38px;
  border: 1px solid rgb(255, 162, 48);
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.checked {
  background-color: #FAE20A;
}

/* .bee {
  background-color: rgb(129, 129, 129);
} */

#status, h3 {
  /* color: #5ce1e6; */
  color: lightgrey;
}

p {
  width: 400px;
  margin: auto;
  margin-top: 20px;
  color: #fdf28c;;
}

button {
  background: #5ce1e6;
  width: 80px;
  height: 40px;
  border-radius: 8px;
  color:#111c1c;
}


#topmenu{
  display: flex;
  justify-content: center;
  width: 100%;
}
#title{
  justify-self:center;
  width:400px;
  margin:20px;
}

#homebutton{
  position: absolute;
  top: 0;
  left: 0;
  width:100px;
 margin: 20px;;
}