* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("images/header.svg");
  background-image: url("images/overlay.png"), url("images/header.svg"), -moz-linear-gradient(75deg,   #032222 15%, #000000 55%);
  background-image: url("images/overlay.png"), url("images/header.svg"), -webkit-linear-gradient(75deg,   #032222 15%, #000000 55%);
  background-image: url("images/overlay.png"), url("images/header.svg"), -ms-linear-gradient(75deg,   #032222 15%, #000000 55%);
  background-image: url("images/overlay.png"), url("images/header.svg"), linear-gradient(75deg,  #032222 15%, #000000 55%);
  background-color: #000000;
  background-size: 100% 620%;
  background-size: 128px 128px, 100% 620%, auto;
  background-repeat: repeat, no-repeat, no-repeat;
  color: aliceblue;
 
  font-family: 'Titillium Web', sans-serif;
}

.wrapper {
  margin-top: 1.5em;
}
h1 {
  color: aqua;
  text-align: center;
}
.choose {
  display: flex;
  justify-content: center;
}
.btn {
  background: none;
  border: none;
  outline: 4px solid #fff;
  outline-offset: 2px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  transition: 100ms;
  margin-right: 2rem;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.btn:hover {
  transform: scale(1.2);
}
.btn img {
  width: 110%;
  height: 100%;
  display: block;
  transform: scale(1.05);
  /* object-position: 0% 0%;
  object-fit: fill; */
}

.result {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 1.3rem;
  font-size: 1.7rem;
  font-weight: bold;
  row-gap: 1rem;
}

.result-score {
  margin-left: 0.2em;
  font-size: 1.3rem;
}

.result-score.you {
  color: #fae20a ;
}
.result-score.com {
  color:  #fae20a ;
}

.result-sel {
  opacity: 0.6;
}
.result-sel {
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}
.result-sel.winner {
  opacity: 1;
  transform: translate(1.25);
}

.link {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2em;
}
.link a {
  margin-left: 0.3em;
  font-weight: bold;
  font-size: 1.4rem;
  color: rgb(78, 78, 249);
}

#topmenu{
  display: flex;
  justify-content: center;
  width: 100%;
}
#title{
  justify-self:center;
  width:400px;
  margin:20px;
}

#homebutton{
  position: absolute;
  top: 0;
  left: 0;
  width:100px;
 margin: 20px;;
}